<h2>Iniciar Sesión</h2>
<form action="/login" method="POST">
  <input name="email" placeholder="Correo" required>
  <input type="password" name="password" placeholder="Contraseña" required>
  <button type="submit">Entrar</button>
</form>
